
.header {
	overflow: hidden;
	background-color: red;
	margin: 0;
	padding: 5px 5px;
	text-decoration: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
  }
  
 
  .header a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 13px;
	line-height: 25px;
	border-radius: 4px;
	text-decoration: none;
  }
  
  
  .header a.logo {
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
  }
  
  
  .header a:hover {
	background-color: #ddd;
	color: white;
	text-decoration: none;
  }
  
 
  .header a.active {
	background-color: red;
	color: white;
	text-decoration: none;
  }

  .header a.inactive {
	text-decoration: none;
  }
  
  
  .header-right {
	float: right;
	text-decoration: none;
  }
  
  .open-button {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
	text-decoration: none;
  }
  
  .card {
	padding: 16px;
	text-align: left;
	background-color: #f1f1f1;
  }

  .filterbtn {
	  text-align: center;
	  background-color: dodgerblue;
	  padding-left: 10px;
	  padding-right: 10px;
	  margin-top: 5px;
	  
  }

  .bg-black {
	background-color: dodgerblue !important;
  }

  footer {
	background-color: red;
    position: absolute;
    left: 0;
    right: 0;
  }

.push {
    height: 255px;
}